ul{
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: black;
    list-style-type: none;
}
li{
    display: inline;
}
li a{
    padding: 14px 35px;
    text-decoration: none;
    color: white;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 50px 50px 0 50px;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    min-height: 95vh;
}
.card{
    width: 45%;
}
.main{
    flex: 1;
}
.logo{
    color: yellowgreen;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 0rem;
}
h1{
    font-size: 5rem;
}
.creative{
    color: blue;
}
footer{
    text-align: right;
    color: yellowgreen;
    background-color: rgb(92, 77, 77);
}
.tile-image{
    float: left;
    height: 200px;
    margin-right: 50px;
}
.left{
    float: left;
}
.right{
    float: right;
}
@media (max-width:680px) {
    .logo{
        width: 25px;
        height: 25px;
    }
    h1{
        font-size: 3.5rem;
        text-align: center;
    }
    h2{
        font-size: 3.5rem;
        text-align: center;
    }
    .card{
        width: 100%;
        display: block;
        margin-bottom: 30px;
        text-align: justify;
    }
    .card img{
        margin-bottom: 10px;
        width: 100%;
        display: inline;
        object-fit: cover;
    }
}